##
# This file explains the configuration settings.
# Config files can be sparse, i.e. you don't need to specify every field, as
# they all have hard defaults defined in the code. 
# 

# Variables of interest

input_delay = 1000 # maximum delay in milliseconds before input is accepted (besides game start and stop inputs)
# actual delay is randomly selected from a uniform distribution ranging from 0 to 1000
# das_delay_randomization = 5
starting_level = 0
levelup_interval = 20 # time in seconds before game speeds up 
fall_disable_interval = 1  # delay in seconds at start of each level before zoids start falling
number_of_levels = 10
final_pause_duration = 10  # duration in seconds of pause at end of game
fullscreen = False 
visible_game_info = False # toggle visibility of score, lines, level, and game info 
skip_gameover_anim = True  # skip gameover animation and resume game immediately after gameover
reset_board_on_levelup = True  # clear game board of all placed tiles on levelup 
disable_manual_drop = True

#levels     00  01  02  03  04  05  06  07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
intervals = 48, 43, 38, 33, 28, 23, 18, 13, 8, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1
#intervals = 14, 11, 0  # these values will result in huge speedup after the second levelup
drop_interval = 2

####
# Logging
#

## Logging directory (no quotes)
    logdir=data

## Fixed-length logging
    fixed_log = True

## Enable additional logs with only episode and game summaries
    ep_log = True
    game_log = True
    
## Enable screenshots of each episode
    ep_screenshots = False

## Subject ID
    SID = Test
    RIN = 000000000
    ECID = NIL

## Game type
    #set according to whatever string helps identify this session or condition
    game_type = "standard"






###
# Rules and scoring
#

## Name of the game board file to load. 
    #See: ../boards/[name].board 
    boardname = empty

## Game board size
    game_ht = 20
    game_wd = 10

## Lines per level
    lines_per_lvl = 10
        
    scoring = 40,100,300,1200,6000
    drop_bonus = True
  
    # moved to above
    # starting_level = 0

## Levelup and game freeze intervals (moved to above)
	#levelup_interval = 90
	#fall_disable_interval = 10

## Number of levels and pause at game end (moved to above)
	#number_of_levels = 10
	#final_pause_duration = 25


## Random seed for zoid grabber; defaults to game start time, can be solidified here.

    #whether to use fixed seeds at all
    fixed_seeds = True
    
    #set of random seeds to use
    random_seeds = 1, 22, 3000000, 456789

    #whether to randomize the seed presentation order
    permute_seeds = False


## Continues; The number of games to be played this session. 
    #Set to 0 for infinite
    continues = 0

## Time limit; the amount of time allowed this session
    #defaults to 1 hour
    time_limit = 3600
    episode_timeout = True

## Maximum episodes per game (game ends at episode max)
    #set to -1 for infinite
    max_eps = -1
    






###
# Audio / Video
#

#Fullscreen (moved to above)
    #fullscreen = True

#Background color
    bg_color = 0,0,0
#Border color
    border_color = 250,250,250
#Kept zoid area background color
    kept_bgc = 50,50,50

#Color mode for blocks, REMIX, or STANDARD. REMIX by default 
    color_mode = STANDARD

## Sounds
    #Volumes 
    music_vol=0.0
    sfx_vol=1.0
    song=korobeiniki

## Score display: "left" or "right" supported
    score_align = left 

## High score display
    show_high_score = False





###
# Timing
#

#Frames per second, updates per frame 
    fps = 30
    tps = 60

#Game speed information. 
#If interval is set to 30, then zoids will drop 4 rows per second (30/2=15 15x4=60).
#If interval is set to 10, then zoids will drop 12 rows per second (10/2=5 5x12=60).
    #levels     00  01  02  03  04  05  06  07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
    #intervals = 33, 18, 33, 18, 8, 18, 8, 5, 8, 5
    #intervals = 48, 43, 38, 33, 28, 23, 18, 13, 8, 6, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1
    #intervals = 43, 33, 43, 33, 23, 33, 23, 13, 23, 13, 5, 5, 5, 4, 4, 4, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1

    #drop_interval = 2

#Delay until keypresses begin repeating, and the interval between those subsequent repetitions
    das_delay = 16
    das_repeat = 6
    
    das_chargeable = false
    das_reversible = false

#  in milliseconds based on 60 fps, 16 frames and 6 frames respectively...
    das_delay_ms = 266
    das_repeat_ms = 100
    
#Zoid placement delay in frames
    are_delay = 10
        
#Line clear delay in frames
    lc_delay = 20
        


###        
# Experimental Manipulations
#

#Zoid sets: Tetris - 4-blocks; Pentix - 5-blocks; Tiny - 1-, 2-, 3-blocks
    tetris_zoids = True
    pentix_zoids = False
    tiny_zoids = False

#Upside-down mode
    inverted = False

#Time pressure
    gravity = True
    
    
    
## Controls manipulations

#set joystick type. Currently supported are "NES_RETRO-USB", and "NES_TOMEE-CONVERTED"
    joystick_type = NES_RETRO-USB
    #joystick_type = NES_TOMEE-CONVERTED

#Enabling an UNDO, to reset the current zoid to the top by pressing [R]
    undo = False

#Solving using simulator and controller
    solve_button = false
    auto_solve = false

#Hints, using the simulator and controller
    hint_zoid = False
    hint_button = True
    hint_release = True
    hint_limit = -1

#contextual hints (must be in same rotation and column to see hint
    hint_context = False
    hint_context_col_tol = 0

#After Action Review (AAR)
    AAR = False
    AAR_max_conflicts = 1
    AAR_dim = 50
    
    #duration of AAR. -1 for infinite (for self-paced)
    AAR_dur = 30
    #scale duration of AAR to current game speed. False for infinite (for self-paced)
    AAR_dur_scaling = True
    AAR_curr_zoid_hl = True
    AAR_selfpaced = False


#Pausing
    pause_enabled = true
    
#Two player
    two_player = False
    

## AI Manipulations

#Controller to use for solving. Look in the "controllers" directory
    controller = dellacherie
#Allow controller overhang detection (small cost, undetectable)
    sim_overhangs = True
#Enforce legal moves for controller (larger cost, may be noticeable on slower machines)
    sim_force_legal = True


## Visibility manipulations: 
#Invisible tetris
    visible_board = True
    visible_zoid = True

#Dimtris
    dimtris = False
    dimtris_alphas = 255,225,200,175,150,125,100,75,50,25,0
    
#Visibility echo
    board_echo_placed = True
    board_echo_lc = True
    
    
    
    
## Next box manipulations:
#Enables or disables look-ahead (seeing next zoid); 0 and 1 currently supported
    look_ahead = 1

#Position next box far away
    far_next = False

#Dim contents of next box to a value between 0 and 50
    next_dim = False
    next_dim_alpha = 50
    
#Graying
    gray_zoid = False
    gray_board = False
    gray_next = False
    gray_kept = False

#Mask requiring a key to be held [Q] in order to see the next box.
#Optionally masks the board during access
    next_mask = False
    board_mask = False
    #specify whether mask is controlled by eye-gaze from eyetracker
    eye_mask = False
    
    
#N-back mode: only zoids the same as the zoid 'nback-n'-many back will be placed
    n_back = False
    nback_n = 2

#AX-CPT mode: When a target zoid follows a cue, it is not placed. 
    ax_cpt = False
    ax_cue = O
    ax_target = I
    
    

###        
# Modern game features (a.k.a, easy-mode toggles)
#

# Enables a "ghost" zoid showing where the piece would end up if dropped now
    ghost_zoid = False

# Enables slamming zoid down in one step by pressing [SPACE]
    zoid_slam = False

# Enables keeping a zoid for later, and swapping it back in, by pressing [E]
    keep_zoid = False

# Enables a more "surefire" zoid-picker, guaranteeing seeing a type very 7 zoids
    seven_bag_switch = False

# Enables shifting rotating zoids to adjacent columns when obstructed.
    wall_kicking = False

# Enables gridlines
    gridlines_x = False
    gridlines_y = False
    gridlines_color = 50,50,50







###
# Eyetracking
#

## Eyetracker distance
    distance_from_screen = -1.0
    
    
    draw_samps = False
    draw_avg = False
    draw_fixation = False
    draw_err = False
    gaze_window = 30
    
    spotlight = False
    spot_radius = 350
    spot_color = 50,50,50
    spot_alpha = 255
    spot_gradient = True

    eye_conf_borders = false





####### GAMEOVER FIXCROSS #######
    gameover_fixcross = False
    gameover_fixcross_size = 15
    gameover_fixcross_width = 3
    gameover_fixcross_frames = 30
    gameover_fixcross_tolerance = 50
    gameover_fixcross_frames_tolerance = 2
    gameover_fixcross_color = 0,115,10
    gameover_fixcross_timeout = 600
	
    calibration_points = 5
    calibration_auto = True
    validation_accuracy = 0.8
    automated_revalidation = True



####### UNIMPLEMENTED CONFIGURATIONS #########

# Enables a grace period before locking piece in place; reset by successful movement [Unimplemented]
    grace_period = 0
    grace_refresh = False
        

## Enable feedback mode messages on left side of screen [Unimplemented]
    feedback_mode = False




# misdirection in eyetracking
    misdirection = False
    
